<ion-header>
  <ion-toolbar class="white">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
          <ion-icon color="primary" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h1 color="primary">Change Quantity <br> SKU# {{sku}}</h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center" size="6" offset="3">
        <ion-input type="number" value="{{quantity}}" #qty class="ion-text-center"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3" class="padding">
        <ion-button expand="full" color="primary" (click)="doUpdate(qty.value)">
          <ion-label>SAVE</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3" class="padding">
        <ion-button expand="full" color="primary" (click)="closeModal()">
          <ion-label>CANCEL</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
