<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
          <ion-icon color="primary" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="container-center" >
    <ion-col size="12" class="ion-text-center">
      <ion-img [src]="img"></ion-img>
    </ion-col>
  </ion-row>
</ion-content>