.active-item{
    border-left: 8px solid var(--ion-color-primary);
}
.header{
    background-color: #1668b9;
}
.header-user{
    color: #ffffff;
    font-weight: bold;
}
.header-logout{
    color: #ffffff;
    font-weight: bold;
}
.header-icon{
    font-size: 64px;
    color: #ffffff;
}