
  <ion-menu side="start" menuId="first" contentId="content">
    <ion-header class="header">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-icon name="person-circle-outline" class="header-icon"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="header-user">
              {{shoppersName}}
            </ion-col>
            <ion-col class="header-logout" (click)="onlogout()">
              <ion-icon name="log-out"></ion-icon>
              Logout
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
            <ion-icon name="{{p.icon}}" slot="start" color="secondary"></ion-icon>
            <ion-label color="secondary">
              {{p.title}} <ion-badge *ngIf="notificationCount(p.title) > 0" color="danger">{{notificationCount(p.title)}}</ion-badge>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>