<ion-header>
  <ion-toolbar color='secondary'>
    <ion-buttons slot="start">
      <ion-back-button (click)="goToList()"></ion-back-button>
    </ion-buttons>
    <ion-title>On Hold</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-segment value="order-details" [(ngModel)]="segmentModel" color="secondary">
    <ion-segment-button value="order">
      <ion-icon name="reader-sharp"></ion-icon>
      Order <br> Details
    </ion-segment-button>
    <ion-segment-button value="customer">
      <ion-icon name="person-sharp"></ion-icon>
      Customer <br> Details
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="segmentModel === 'order'">
    <ion-card *ngIf="productDatas.length > 0">
      <ion-card-header>
        <ion-card-title>Job Order No.: {{jobOrderNo}}</ion-card-title>
        <ion-card-subtitle>Delivery Date: {{deliveryDate | date:'EEEE, d MMMM yyyy'}}</ion-card-subtitle>
        <ion-card-subtitle>Area of Delivery: {{areaOfDelivery}}</ion-card-subtitle>
        <div class="card-body">
          <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
            <div class="step completed">
              <div class="step-icon-wrap">
                <div class="step-icon"><i class="pe-7s-cart"></i></div>
              </div>
              <h4 class="step-title">Order Date</h4>
            </div>
            <div class="step completed">
              <div class="step-icon-wrap">
                <div class="step-icon"><i class="pe-7s-users"></i></div>
              </div>
              <h4 class="step-title">On Process</h4>
            </div>
            <div class="step">
              <div class="step-icon-wrap">
                <div class="step-icon"><i class="pe-7s-news-paper"></i></div>
              </div>
              <h4 class="step-title">For Pos</h4>
            </div>
            <div class="step">
              <div class="step-icon-wrap">
                <div class="step-icon"><i class="pe-7s-car"></i></div>
              </div>
              <h4 class="step-title">For Staging</h4>
            </div>
            <div class="step">
              <div class="step-icon-wrap">
                <div class="step-icon"><i class="pe-7s-home"></i></div>
              </div>
              <h4 class="step-title">Product Delivered</h4>
            </div>
          </div>
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <h4>QTY</h4>
            </ion-col>
            <ion-col size="5">
              <h4>Order Details</h4>
            </ion-col>
            <ion-col size="3">
              <h4>Unit Price</h4>
            </ion-col>
            <ion-col size="2">
              <h4>Total</h4>
            </ion-col>
          </ion-row>
          <ion-grid *ngFor="let data of productDatas; let i = index;">
            <ion-row>
              <ion-col size="2">
                <ion-icon name="ellipse-sharp" color="{{data.color}}" *ngIf="data.status !=0"></ion-icon>
                <h2>{{data.quantity}}</h2>
                <ion-img [src]="data.featured_image"></ion-img>
                <ion-button size="small" color="primary" expand="full" (click)="openImage(data.featured_image)">VIEW</ion-button>
              </ion-col>
              <ion-col size="5">
                <label><b>ITEM: </b>{{data.name}}</label><br>
                <label><b>SKU#:</b> {{data.sku}}</label><br>
                <label *ngIf="data.product_type_id == '2'"><b>WEIGHT:</b> {{data.weight}}</label><br>
                <span *ngIf="deliveryLevel == 1">
                  <label *ngIf="data.is_same_prod_diff_size == 1"><b>Replacement Option: </b>Same brand, Different size </label>
                  <label *ngIf="data.is_same_size_diff_brand == 1"><b>Replacement Option: </b>Nearly same size, Different brand</label>
                  <label *ngIf="data.is_no_substitution== 1" ><b>Replacement Option: </b>No Replacement</label>
                </span>
                <label *ngIf="deliveryLevel == 2 || deliveryLevel == 3">
                  <span *ngIf="data.is_dc_delivery == 0"><b>Delivery Date:</b> {{deliveryDate | date:'EEEE, d MMMM yyyy'}}</span>
                  <span *ngIf="data.is_dc_delivery == 1"><b>DC Delivery:</b> {{data.delivery_date_time | date:'EEEE, d MMMM yyyy h:mm ' }}</span>
                </label>
                  <label *ngIf="!data.sku_location"><span><b>SKU Location: </b></span ><ion-badge>Main Area</ion-badge></label>
                  <label *ngIf="data.sku_location"><span><b>SKU Location: </b></span><ion-badge>Location: {{data.sku_location}}</ion-badge></label>
                <ion-button size="small" [color]="data.color" expand="full" *ngIf="data.isReplaced == 1">Replaced</ion-button>
                <ion-button size="small" color="danger" expand="full" *ngIf="data.is_out_of_stock == 1">Out Of Stock</ion-button>
              </ion-col>
              <ion-col size="3">
                <h2>{{data.price_history | number:'1.2-2'}}</h2>
              </ion-col>
              <ion-col size="2">
                <div *ngIf="data.product_type_id == '1' || data.product_type_id == '3'">
                  <h2>{{data.price_history * data.quantity | number:'1.2-2'}}</h2>
                </div>
                <div *ngIf="data.product_type_id == '2'">
                  <h2>{{data.price_history*data.weight | number:'1.2-2'}}</h2>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row>
              <ion-col>
                <b>Total Quantity: </b>
              </ion-col>
              <ion-col>
                <b>{{total}}</b>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <table class="cost-summary">
                <tr>
                  <td class="left"><b>Sub Total: </b></td>
                  <td class="right"><b>{{cost_summary.subtotal}}</b></td>
                </tr>
                <tr>
                  <td class="left"><b>ADD:</b></td>
                  <td class="right"></td>
                </tr>
                <tr>
                  <td class="left"><b>Concierge Fee:</b></td>
                  <td class="right"><b>{{cost_summary.concierge}}</b></td>
                </tr>
                <tr>
                  <td class="left"><b>Delivery Fee:</b></td>
                  <td class="right"><b>{{cost_summary.shipping_fee}}</b></td>
                </tr>
                <tr *ngIf="hasMembership == null || hasMembership != 1">
                  <td class="left"><b>Surcharge Fee: </b></td>
                  <td class="right"><b>{{cost_summary.non_member_surcharge}}</b></td>
                </tr>
                <tr>
                  <td class="left"><b>Total </b></td>
                  <td class="right"><b>{{cost_summary.total}}</b></td>
                </tr>
              </table>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card *ngIf="segmentModel === 'customer'">
    <ion-card-header>
      <ion-card-title>Customer Name: {{CustomerName}}</ion-card-title>
      <ion-card-subtitle>Delivery Date: {{deliveryDate | date:'EEEE, d MMMM yyyy'}}</ion-card-subtitle>
      <ion-card-subtitle>Area of Delivery: {{areaOfDelivery}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
