<div class="container-center">
    <div>
        <ion-row>
            <ion-col class="img-container">
                <img [src]="imgSrc">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="header-container"  >
                <ion-text color="primary">{{appName}} ACCESS</ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="input-container">
                    <ion-input #employee_id placeholder="Employee ID"><ion-icon name="person-sharp" class="icon"></ion-icon></ion-input> 
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="input-container">
                <ion-input #password placeholder="Password" type="password"><ion-icon name="key-sharp" class="icon"></ion-icon></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="button-container">
                <ion-button (click)="onlogIn(employee_id, password)" type="submit" fill="solid" expand="full" color="secondary">LOGIN</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="sub-container">
                <ion-text color="sub-color">Forgot Password?</ion-text>
            </ion-col>
        </ion-row>
        <!-- <ion-row>
            <ion-col class="sub-container">
                <ion-text color="sub-color">Production Version: v1.2.1</ion-text>
            </ion-col>
        </ion-row> -->
    </div>
</div>