.container-center{
    height: 100%; 
    align-items: center; 
    justify-content: center;
    width:100%; // adjust width on your ion-card suitable on your screen
    display:block;
    margin: 0 auto;
    margin-top: 25%;
}
img{
    width: 7.375em;
    height: 4em; 
}
.img-container {
    margin-top: 7em;
    display: flex;
    justify-content: center;
    // align-items: center; this only if you want to vertical align it to the center too
}
.header-container{
    margin-top: 1em;
    display: flex;
    font-size: 1.9em;
    font-weight: 500;
    justify-content: center;
    // align-items: center; this only if you want to vertical align it to the center too
}
.sub-container{
    margin-top: 1em;
    display: flex;
    font-weight: bolder;
    color: #10829e;
    justify-content: center;
    // align-items: center; this only if you want to vertical align it to the center too
}
.input-container {
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    justify-content: center;
    // align-items: center; this only if you want to vertical align it to the center too
}
.button-container {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    // align-items: center; this only if you want to vertical align it to the center too
}
.icon{
    color: #808080;
    margin-left: .5em;
}
ion-input{
    margin-top: .5em;
    background-color: #D3D3D3;
    text-align: center;
}
ion-button{
    width: 50%;
    margin-left: 2em;
    margin-right: 2em;
}