<ion-header>

</ion-header>

<ion-content>
  <ion-grid *ngFor="let item of value; let i = index">
    <ion-row>
      <ion-row class="container-center">
        <ion-col class="ion-text-center">
          <ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel" [value]="item" [width]="250">
          </ngx-qrcode>
        </ion-col>
      </ion-row>
      <ion-row class="container-center2">
        <ion-col class="ion-text-center">
          <p>{{item}}</p>
        </ion-col>
      </ion-row>
    </ion-row>

  </ion-grid>
</ion-content>