<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
            <ion-label position="left" class="label-header">Username:</ion-label>
        </ion-col>
        <ion-col size="7">
          <ion-input value={{username}} readonly></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
            <ion-label position="left" class="label-header">First Name:</ion-label>
        </ion-col>
        <ion-col size="7">
          <ion-input value={{firstname}} readonly></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
            <ion-label position="left" class="label-header">Middle Name:</ion-label>
        </ion-col>
        <ion-col size="7">
          <ion-input value={{middlename}} readonly></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
            <ion-label position="left" class="label-header">Last Name:</ion-label>
        </ion-col>
        <ion-col size="7">
          <ion-input value={{lastname}} readonly></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
            <ion-label position="left" class="label-header">Email Add:</ion-label>
        </ion-col>
        <ion-col size="7">
          <ion-input value={{emailaddress}} readonly></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
            <ion-label position="left" class="label-header">Mobile No:</ion-label>
        </ion-col>
        <ion-col size="7">
          <ion-input value={{mobileno}} readonly></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
