<ion-header>
  <ion-toolbar color='secondary'>
    <ion-buttons slot="start">
      <ion-back-button (click)="goToList()"></ion-back-button>
    </ion-buttons>
    <ion-title>For POS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-segment value="order-details" [(ngModel)]="segmentModel" color="secondary">
    <ion-segment-button value="order">
      <ion-icon name="reader-sharp"></ion-icon>
      Order <br> Details
    </ion-segment-button>
    <ion-segment-button value="customer">
      <ion-icon name="person-sharp"></ion-icon>
      Customer <br> Details
    </ion-segment-button>
    <ion-segment-button value="for-cashier">
      <ion-icon name="calculator-sharp"></ion-icon>
      QR <br> Code
    </ion-segment-button>
  </ion-segment>
  <div id="content" *ngIf="segmentModel === 'order'">
    <ion-card *ngIf="productDatas.length > 0">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ngx-qrcode
                [elementType]="elementType"
                [errorCorrectionLevel]="correctionLevel"
                [value]="jobOrderNo">
              </ngx-qrcode>
              <ion-button color="primary" (click)="openQRQModal(jobOrderNo)">View Full Image</ion-button>
            </ion-col>
            <ion-col>
              <ion-card-title>Job Order No.: {{jobOrderNo}}</ion-card-title>
              <ion-card-subtitle>Delivery Date: {{deliveryDate | date:'EEEE, d MMMM yyyy h:mm a'}}</ion-card-subtitle>
              <ion-card-subtitle>Area of Delivery: {{areaOfDelivery}}</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="card-body">
          <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
            <div class="step completed">
              <div class="step-icon-wrap">
                <div class="step-icon"><i class="pe-7s-cart"></i></div>
              </div>
              <h4 class="step-title">Order Date</h4>
            </div>
            <div class="step completed">
              <div class="step-icon-wrap">
                <div class="step-icon"><i class="pe-7s-users"></i></div>
              </div>
              <h4 class="step-title">On Process</h4>
            </div>
            <div class="step completed">
              <div class="step-icon-wrap">
                <div class="step-icon"><i class="pe-7s-news-paper"></i></div>
              </div>
              <h4 class="step-title">For Pos</h4>
            </div>
            <div class="step">
              <div class="step-icon-wrap">
                <div class="step-icon"><i class="pe-7s-car"></i></div>
              </div>
              <h4 class="step-title">For Staging</h4>
            </div>
            <div class="step">
              <div class="step-icon-wrap">
                <div class="step-icon"><i class="pe-7s-home"></i></div>
              </div>
              <h4 class="step-title">Product Delivered</h4>
            </div>
          </div>
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <h4>QTY</h4>
            </ion-col>
            <ion-col size="5">
              <h4>Order Details</h4>
            </ion-col>
            <ion-col size="3">
              <h4>Unit Price</h4>
            </ion-col>
            <ion-col size="2">
              <h4>Total</h4>
            </ion-col>
          </ion-row>
          <div >
            <ion-row *ngFor="let data of productDatas; let i = index;">
              <ion-col size="2">
                <div *ngIf="data.product_type_id != '2'">
                  <h2>{{data.quantity}}</h2>
                </div>
                <ion-img [src]="data.featured_image"></ion-img>
                <ion-button size="small" color="primary" expand="full" (click)="openImage(data.featured_image)">VIEW</ion-button>
              </ion-col>
              <ion-col size="5">
                <label><b>ITEM: </b>{{data.name}}</label>
                <label><b>SKU#:</b> {{data.sku}}</label><br>
                <label><b>SCANNED UPC#:</b> {{data.upc}}</label><br>
                <label *ngIf="data.product_type_id == '2'"><b>WEIGHT:</b> {{data.weight}}</label><br>
                <span *ngIf="deliveryLevel == 1">
                  <label *ngIf="data.is_same_prod_diff_size == 1"><b>Replacement Option: </b>Same brand, Different size </label>
                  <label *ngIf="data.is_same_size_diff_brand == 1"><b>Replacement Option: </b>Nearly same size, Different brand</label>
                  <label *ngIf="data.is_no_substitution== 1" ><b>Replacement Option: </b>No Replacement</label>
                </span>
                <label *ngIf="deliveryLevel == 2 || deliveryLevel == 3">
                  <span *ngIf="data.is_dc_delivery == 0"><b>Delivery Date:</b> {{deliveryDate | date:'EEEE, d MMMM yyyy h:mm a'}}</span>
                  <span *ngIf="data.is_dc_delivery == 1"><b>DC Delivery:</b> {{data.delivery_date_time | date:'EEEE, d MMMM yyyy h:mm ' }}</span>
                </label>
                <ion-button size="small" [color]="data.color" expand="full" *ngIf="data.isReplaced == 1">Replaced</ion-button>
                <ion-button size="small" [color]="data.color" expand="full" *ngIf="data.is_out_of_stock == 1">Out Of Stock</ion-button>
              </ion-col>
              <ion-col size="3">
                <h2>{{data.price_history | number:'1.2-2'}}</h2>
              </ion-col>
              <ion-col size="2">
                <div *ngIf="data.product_type_id == '1' || data.product_type_id == '3'">
                  <h2>{{data.price_history * data.quantity | number:'1.2-2'}}</h2>
                </div>
                <div *ngIf="data.product_type_id == '2'">
                  <h2>{{data.price_history*data.weight | number:'1.2-2'}}</h2>
                </div>
              </ion-col>
            </ion-row>
          </div>
            <ion-row>
              <ion-col>
                <table class="cost-summary">
                  <tr>
                    <td class="left"><b>Quantity: </b></td>
                    <td class="right"><b>{{total}}</b></td>
                  </tr>
                  <tr>
                    <td class="left"><b>Item Total: </b></td>
                    <td class="right"><b>{{cost_summary.subtotal}}</b></td>
                  </tr>
                  <tr>
                    <td class="left"><b>ADD:</b></td>
                    <td class="right"></td>
                  </tr>
                  <tr *ngIf="hasMembership == null || hasMembership != 1">
                    <td class="left"><b>Non-member's Fee: </b></td>
                    <td class="right"><b>{{cost_summary.non_member_surcharge}}</b></td>
                  </tr>
                  <tr>
                    <td class="left">
                      <span *ngIf="deliveryLevel == 1 || deliveryLevel == 2"><b>Shopping Fee:</b></span>
                      <span *ngIf="deliveryLevel == 3"><b>Discount:</b></span>
                    </td>
                    <td class="right"><b>{{cost_summary.concierge}}</b></td>
                  </tr>
                  <tr>
                    <td class="left">
                      <span *ngIf="deliveryLevel == 1 || deliveryLevel == 2"><b>Delivery Fee:</b></span>
                      <span *ngIf="deliveryLevel == 3"><b>S&H Fee:</b></span>
                    </td>
                    <td class="right"><b>{{cost_summary.shipping_fee}}</b></td>
                  </tr>
                  <tr>
                    <td class="left"><b>Estimated Total: </b></td>
                    <td class="right"><b>{{cost_summary.total}}</b></td>
                  </tr>
                </table>
              </ion-col>
            </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card *ngIf="segmentModel === 'customer'">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>Customer Name</ion-col>
          <ion-col>{{title}} {{CustomerName}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Customer Status</ion-col>
          <ion-col>
            <span *ngIf="hasMembership ==1">Member</span>
            <span *ngIf="hasMembership == 0">Non Member</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Membership Number</ion-col>
          <ion-col>{{membershipNumber}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Membership Status</ion-col>
          <ion-col>{{membershipStatus}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="segmentModel === 'for-cashier'">
    <ion-list>
      <div *ngFor="let d of data">
        <ion-item padding (click)="toggleDetails(d)"><ion-icon color="primary" item-left [name]="d.icon"></ion-icon>
          {{d.title}}
        </ion-item>
        <div *ngIf="d.id == 1">
          <ion-item *ngIf="d.showDetails">
            <table class="cost-summary">
              <tr>
                <td class="left"><b>{{d.details}}</b></td>
                <td class="right">
                  <ion-button color="primary" icon-only (click)="openQRQModal(d.details)">
                    <ion-icon name="qr-code-sharp"></ion-icon> View QR Code 
                  </ion-button>
                </td>
              </tr>
            </table>
          </ion-item>
        </div>
        <div *ngIf="d.id == 2">
          <ion-item *ngIf="d.showDetails">
            <table class="cost-summary">
              <tr>
                <td class="left"><b>{{d.details}}</b></td>
                <td class="right">
                  <ion-button color="primary" icon-only  (click)="openQRQModal(d.details)">
                    <ion-icon name="qr-code-sharp"></ion-icon> View QR Code 
                  </ion-button>
                </td>
              </tr>
            </table>
          </ion-item>
        </div>
        <div *ngIf="d.id == 3">
          <ion-item *ngIf="d.showDetails">
            <table class="cost-summary">
              <tr *ngFor="let qr of qrOrderData; let i = index">
                <td class="left">
                  <ion-item>
                    <ion-label><b>Batch {{qr.id}}</b></ion-label>
                    <ion-checkbox color="success" [checked]="qr.isChecked" slot="start"></ion-checkbox>
                  </ion-item>
                </td>
                <td class="right">
                  <ion-button color="primary" icon-only (click)="openQROrderModal(qr)">
                    <ion-icon name="qr-code-sharp"></ion-icon> View QR Code 
                  </ion-button>
                </td>
              </tr>
            </table>
          </ion-item>
        </div>
        <div *ngIf="d.id == 4">
          <ion-item *ngIf="d.showDetails">
            <table class="cost-summary">
              <tr>
                <td class="left"><b>{{d.details}}</b></td>
                <td class="right">
                  <ion-button color="primary" icon-only (click)="openQRQModal(d.details)">
                    <ion-icon name="qr-code-sharp"></ion-icon> View QR Code 
                  </ion-button>
                </td>
              </tr>
            </table>
          </ion-item>
        </div>
        <div *ngIf="d.id == 5">
          <ion-item *ngIf="d.showDetails">
            <table class="cost-summary">
              <tr>
                <td class="left">
                  <p *ngIf="deliveryLevel == 1 || deliveryLevel == 2"><b>DELIVERY FEE:</b></p>
                  <p *ngIf="deliveryLevel == 3"><b>S&H FEE:</b></p>
                </td>
                <td class="right">
                  <p *ngIf="deliveryLevel == 1 || deliveryLevel == 2"><b>908</b></p>
                  <p *ngIf="deliveryLevel == 3"><b>910</b></p>
                </td>
              </tr>
              <tr>
                <td class="left"></td>
                <td class="right">
                  <ion-button color="primary" icon-only *ngIf="deliveryLevel == 1 || deliveryLevel == 2" (click)="openQRQModal('908')">
                    <ion-icon name="qr-code-sharp"></ion-icon> View QR Code
                  </ion-button>
                  <ion-button color="primary" icon-only *ngIf="deliveryLevel == 3" (click)="openQRQModal('910')">
                    <ion-icon name="qr-code-sharp"></ion-icon> View QR Code
                  </ion-button>
                </td>
              </tr>
              <tr *ngIf="deliveryLevel == 1 || deliveryLevel == 2">
                <td class="left">
                  <p><b>SHOPPING FEE:</b></p>
                </td>
                <td class="right">
                  <p><b>909</b></p>
                </td>
              </tr>
              <tr *ngIf="deliveryLevel == 1 || deliveryLevel == 2">
                <td class="left"></td>
                <td class="right">
                  <ion-button color="primary" icon-only (click)="openQRQModal('909')">
                    <ion-icon name="qr-code-sharp"></ion-icon> View QR Code
                  </ion-button>
                </td>
              </tr>
              <tr *ngIf="hasMembership == null || hasMembership != 1">
                <td class="right"><ion-label color="danger" class="note"><b>This transaction has</b>&nbsp;</ion-label></td>
                <td class="left"><ion-label color="danger" class="note"><b>NON-MEMBER SURCHARGE</b></ion-label></td>
              </tr>
            </table>
          </ion-item>
        </div>
          <div *ngIf="d.id == 6">
            <ion-item>
                <table class="cost-summary" *ngIf="showQrDetails">
                  <tr>
                    <td class="left"><b>Card No: </b></td>
                    <td class="right"><b>{{cardNumber}}</b></td>
                  </tr>
                  <tr>
                    <td class="left"><b>Expiry Date: </b></td>
                    <td class="right"><b>{{expiryDate}}</b></td>
                  </tr>
                  <tr>
                    <td class="left"><b>Acquirer Code No:</b></td>
                    <td class="right">{{acquirerCode}}</td>
                  </tr>
                  <tr>
                    <td class="left"><b>Account:</b></td>
                    <td class="right">{{account}}</td>
                  </tr>
                  <tr>
                    <td class="left"><b>Approval Code No:</b></td>
                    <td class="right">{{approvalCode}}</td>
                  </tr>
                  <tr>
                    <td class="left"></td>
                    <td class="right">
                      <ion-button icon-only (click)="openQRQModal(cardNumber+'\r'+expiryDate+'\r'+acquirerCode+'\r'+account+'\r'+approvalCode+'\r')">
                      <ion-icon name="qr-code-sharp"></ion-icon> View QR Code
                    </ion-button>
                  </td>
                  </tr>
                </table>
            </ion-item>
          </div>
      </div>
    </ion-list>
    <ion-row>
      <ion-col>
        <table class="cost-summary">
          <tr>
            <td class="left"><b>Quantity: </b></td>
            <td class="right"><b>{{total}}</b></td>
          </tr>
          <tr>
            <td class="left"><b>Item Total: </b></td>
            <td class="right"><b>{{hisSubtotal}}</b></td>
          </tr>
          <tr>
            <td class="left"><b>ADD:</b></td>
            <td class="right"></td>
          </tr>
          <tr *ngIf="hasMembership == null || hasMembership != 1">
            <td class="left"><b>Non-member's Fee: </b></td>
            <td class="right"><b>{{cost_summary.non_member_surcharge}}</b></td>
          </tr>
          <tr>
            <td class="left">
              <span *ngIf="deliveryLevel == 1 || deliveryLevel == 2"><b>Shopping Fee:</b></span>
              <span *ngIf="deliveryLevel == 3"><b>Discount:</b></span>
            </td>
            <td class="right"><b>{{cost_summary.concierge}}</b></td>
          </tr>
          <tr>
            <td class="left">
              <span *ngIf="deliveryLevel == 1 || deliveryLevel == 2"><b>Delivery Fee:</b></span>
              <span *ngIf="deliveryLevel == 3"><b>S&H Fee:</b></span>
            </td>
            <td class="right"><b>{{cost_summary.shipping_fee}}</b></td>
          </tr>
          <tr>
            <td class="left"><b>Estimated Total: </b></td>
            <td class="right"><b>{{cost_summary.total}}</b></td>
          </tr>
          <tr>
            <td class="left"><b>Preauth Amount: </b></td>
            <td class="right"><b>{{preauth}}</b></td>
          </tr>
          <tr *ngIf="adjustmentTotal">
            <td class="left"><b>POS Total: </b></td>
            <td class="right"><b>{{posTotal}}</b></td>
          </tr>
          <tr *ngIf="adjustmentTotal">
            <td class="left"><b>Adjustment: </b></td>
            <td class="right"><b>{{adjustmentTotal}}</b></td>
          </tr>
          <tr *ngIf="adjustment == false">
            <td class="left">
              <ion-button [color]="paymentColor" expand="full" (click)="forPayment()">PAYMENT</ion-button>
            </td>
            <td class="right">
              <ion-button [color]="adjustColor" expand="full" (click)="adjust(true)">Adjust</ion-button>
            </td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
    <ion-list lines="full" class="ion-no-margin" *ngIf="adjustment">
      <ion-item>
        <ion-label position="floating">Employee ID</ion-label>
        <ion-input #employeeID placeholder="placeholder"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input #password placeholder="placeholder" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">New Total</ion-label>
        <ion-input #newTotal placeholder="0.00" type="number" step="0.01"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button color="primary" (click)="onNewTotal(employeeID, password, newTotal)">Adjust</ion-button>
      </ion-item>
    </ion-list>
    <div *ngIf="letScan">
      <ion-row>
        <ion-col>
          <h2><b></b>Scan Barcode for Printed Receipt</h2>
          <ion-row>
            <ion-col>
              <ion-button color="primary" expand="full" (click)="doScan()">Scan</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="secondary" expand="full" (click)="openInputModal(1)">Input</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
      <ion-row *ngIf="encodedData">
        <ion-col>
          <h3>POS Transaction Status: <ion-icon name="ellipse-sharp" color="success"></ion-icon> SUCCESS</h3>
          <h3>POS Transaction Date: {{today | date:'EEEE, d MMMM yyyy h:mm' }}</h3>
          <h3>POS Transaction No.: {{encodedData}}</h3>
          <h3>No. of Items: {{total}}</h3>
          <h3>Delivery Level: {{deliveryLevel}}</h3>
        </ion-col>
      </ion-row>
    <ion-row *ngIf="encodedData">
      <ion-col>
        <h2><b></b>Take Out Report</h2>
        <h3>Cashier Operator Number.: {{torData}}</h3>
        <h3>Date-time: {{torDate | date:'EEEE, d MMMM yyyy h:mm' }}</h3>
        <ion-row>
          <ion-col>
            <ion-button color="primary" expand="full" (click)="torDoScan()">Scan</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="secondary" expand="full" (click)="openInputModal(2)">Input</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="torData">
      <ion-col>
        <form [formGroup]="orderStatusForm" (ngSubmit)="doUpdate()">
          <ion-row>
            <ion-col>
                  <ion-item>
                      <ion-label>Order Status</ion-label>
                      <ion-select class="status" placeholder="Select One" *ngFor="let status of orderStatus" formControlName="orderStatus">
                        <div *ngFor="let statusData of status.data">
                          <ion-select-option *ngIf="statusData.id == 5" value="{{statusData.id}}">{{statusData.name}}</ion-select-option>
                        </div>
                      </ion-select>
                  </ion-item>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Notes</ion-label>
                <ion-textarea formControlName="notes"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button ion-button class="btn btn-outline-primary btn-sm btn-block mb-2" type="submit">Update Status</button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>