<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start" >
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>New Order</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="light" *ngIf="(flag == true)">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="danger">
        <div class="ion-text-center">
          <h1><ion-icon name="file-tray-full-sharp"></ion-icon> You have an Order! <br> Job Order No. {{jobOrderNo}}</h1>
        </div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="full" color="primary" (click)="toDo(true)">
              <ion-label>Accept</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <!--(click)="toDo(false)"-->
          <ion-col style="text-align: center">
            <ion-button expand="full" color="danger" >
              <ion-label>Cancel</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content color="light" *ngIf="(flag == false)">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="danger">
          <div class="ion-text-center">
            <h1><ion-icon name="file-tray-full-sharp"></ion-icon> No New Orders to show!</h1>
          </div>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="ion-text-center">
          DON'T BE SO HARD ON YOURSELF, OKAY? YOU'RE DOING A GREAT JOB!
        </div>  
      </ion-card-content>
    </ion-card>
</ion-content>
