<ion-header>
  <ion-toolbar class="white">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
          <ion-icon slot="icon-only" name="close" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center" color="primary">
          <h1>Search VIA UPC</h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center" size="6" offset="3">
        <ion-input type="number" #upc placeholder="Enter UPC#"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3" class="padding">
        <ion-button expand="full" color="primary" (click)="doSearchViaUPC(upc.value)">
          <ion-label>SEARCH</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3" class="padding">
        <ion-button expand="full" color="primary" (click)="closeModal()">
          <ion-label>CANCEL</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>