ion-button{
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
}
ion-col{
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style:solid;
    border-color: gray;
    margin: 0px;
}
ion-grid{
    margin: 0px;
    padding: 0px;
}
ion-card{
    overflow: hidden;
    overflow-y: auto;
    height: 100;
    padding: 0px;
    margin: 0px;
}