<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title color="secondary">
      <div class="ion-text-center">
        <h1>Welcome!</h1>
        <h1>{{shoppersName}}</h1>
      </div>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="ion-text-center">
      <h2>Today is:</h2>
      <h3>{{today | date:'EEEE, d MMMM yyyy' }}</h3>
      <h3>{{today | date:'h:mm a' }}</h3>
    </div>  
  </ion-card-content>
</ion-card>
</ion-content>