ion-input{
    background-color: #fff;
    border-color: #000;
    border: 1px;
    border-style: solid;
}
.white{
    background-color: #fff;
}

.padding{
    padding-left: 30px;
    padding-right: 30px;
}